@media (max-width:1539px) {
    
}
@media (min-width: 1281px) {
    .top-navbar,
    .bottom-navber,
    .about-tech-info
    {
        padding: 20px 15%;
    }
    section{
        padding: 20px 15%;
    }
    .rating{
        padding: 100px 15%;
    }
}
@media (min-width:990px) and (max-width: 1540px){
    .img-logo img{
        width: 120px;
    }
    .menubar li{
        margin: 0 12px;
    }
    .menubar li a{
        font-size: 14px;
    }
    .working-process-box{
        width: 50%;
    }
    .contact p{
        font-size: 12px;
    }
}
@media (max-width: 989px) {
    .top-navbar{
        display: none;
    }
    .img-logo img{
        width: 100px;
    }
    .menubar li{
        margin: 0 12px;
    }
    .menubar li a{
        font-size: 10px;
    }
    .working-process-box{
        width: 50%;
    }
    .contact p{
        font-size: 10px;
    }
    .block-category ul li a{
        font-size: 15px;
    }
    .block-category .address li:last-child{
        font-size: 13px;
    }
    .block-category .address li .number{
        font-weight: 550;
        margin-right: 0px;
    }
    .media a{
        margin-right: 0px;
        margin-left: 5px;
    }
    .media a i{
        font-size: 20px;
        color: #006556;
    }
    .box{
        width: 250px;
    }
    .signup h3{
        font-size: 22px;
    }
    .signup p{
        font-size: 15px;
    }
}
@media (max-width: 767px) {
    .menubar,
    .contact{
        display: none;
    }
    .top-banner{
        flex-direction: column;
        text-align: left;
    }
    .banner-img {
        width: 100%;
    }
    .about-tech{
        flex-direction: column;
        text-align: left;
    }
    .service-box{
        grid-template-columns: repeat(2,minmax(200px,1fr));
    }
    section{
        padding: 10px 5%;
        margin-top: 0;
    }
    .top-navbar,
    .bottom-navber,
    .about-tech-info
    {
        padding: 20px 2%;
    }
    .img-logo img{
        width: 160px;
    }
    .work-showcase{
        grid-template-columns: repeat(2,minmax(200px,1fr));
    }
    .rating{
        flex-direction: column;
    }
    .banner-text{
        width: 100%;
    }
    .banner-img img {
        width: 60%;
        height: 300px;
    }
    .btn {
        margin: 50px 0px 0px 0px;
        margin-bottom: 40px;
    }
    .photo img {
        width: 100%;
        height: 300px;
    }
    .progrmming-lan{
        grid-template-columns: repeat(4,minmax(0,1fr));
    }
    .latest-blog{
        grid-template-columns: repeat(1,minmax(200px,1fr));
    }
    .category{
        flex-direction: column;
        align-items: center;
    }
    .company-logo{
        width: 40%;
        text-align: center;
    }
    .block-category{
        flex-wrap: wrap;
        width: 80%;
        margin-top: 40px;
    }
    .block-category .address{
        margin-left: 0px;
    }
    .block-category ul{
        width: 40%;
        margin-bottom: 20px;
    }
    .membership{
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .membership div img{
        width: 80px;
    }
    .newsletter{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr); 
    }
    .signup{
        grid-column: 1/3;
    }
    .subscribe-box{
        grid-row: 2/-1;
        grid-column: 1/-1;
        justify-content: space-between;
        flex-direction: column;
    }
    .box{
        width: 100%;
        border: 1px solid #e0dada;
    }
    .button{
        margin-top: 15px;
        width: 100%;
        margin-right: 10px;
        text-align: center;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0 30px 0;
        text-align: center;
    }
    .footer .Copyright{
        margin-left: 0px;
        margin: 5px 0;
    }
    .footer p{
        font-size: 13px;
    }
    /* -------------------------- humbarger-menu----------------------- */
    .humbarger-menu{
        position: relative;
    }
    .menubar{
        display: flex;
        flex-direction: column;
        background: rgb(240, 237, 237);
        position: absolute;
        top: 50px;
        right: -20px;
        width: 270px;
        height: 100vh;
        text-align: left;
        z-index: 90;
        transform: translateY(-130%);
        transition: transform 0.5 ease-in-out;
    }
    .menubar li{
        display: block;
        margin-top: 16px;
    }
    .menubar li a{
        display: block;
        font-size: 18px;
    }
    .humbarger-menu input[type="checkbox"]{
        display: block;
        width: 36px;
        height: 28px;
        position: absolute;
        top: -20px;
        right: 2px;
        z-index: 10;
        opacity: 0;
    }
    .humbarger-line{
        position: absolute;
        top: -20px;
        right: 2px;
        width: 36px;
        height: 28px;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .humbarger-line .line{
        display: block;
        background: #259786;
        width: 100%;
        height: 5px;
        border-radius: 10px;
    }
    
    .humbarger-menu input[type="checkbox"]:checked ~ .menubar{
        display: block;
        transform: translateY(0%);
        transition: transform .5s ease-out;
    }
    .humbarger-line .line1{
        transform-origin: 0% 0%;
    }
    .humbarger-line .line3{
        transform-origin: 0% 100%;
    }
    .humbarger-menu input[type="checkbox"]:checked ~ .humbarger-line .line1{
        transform: rotate(45deg);
    }
    .humbarger-menu input[type="checkbox"]:checked ~ .humbarger-line .line2{
        display: none;
    }
    .humbarger-menu input[type="checkbox"]:checked ~ .humbarger-line .line3{
        transform: rotate(-45deg);
    }
    .menubar li a:hover::after{
        width: 0%;
    }
    .menubar li a:hover{
        color: red;
    }
    .services-hover{
        grid-template-columns: repeat(4,minmax(100px,1fr));
        top: 0px;
        height: 400px;
        transform: translateX(-77%);
    }
    .services-hover div:last-child{
        grid-column: 1/-1;
    }
    .services-hover div h4{
        font-size: 16px;
    }
    .services-hover div p{
        font-size: 14px;
    }
    .xyz{
        padding: 4px 0px;
        background: #006556;
        text-align: center;
    }
}
@media(max-width: 500px){
    .working-process-box img{
        width: 120px;
    }
    .progrmming-lan{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
    .work-showcase{
        /* grid-template-columns: repeat(1,minmax(200,1fr)); */
        display: flex;
        flex-direction: column;
    }
    .latest-blog{
        grid-template-columns: repeat(1,minmax(200px,1fr));
    }
    .service-box{
        grid-template-columns: repeat(1,minmax(200px,1fr));
    }
    .services{
        padding: 0;
    }
    .second-col-2_block{
        display: grid;
        grid-template-columns: repeat(1,minmax(200px,1fr));
        text-align: center;
        justify-content: space-between;
     }
     .text-blog{
        width: 100%;
     }
     .block-category .address li{
        margin-bottom: 10px;
        font-size: 13px;
    }
    .block-category .address li i{
        font-size: 10px;
    }
    .membership{
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 10px;
        grid-row-gap: 20px;
        width: 30%;
    }
    .mebership-logo{
        margin-left: 0px;
    }
    .membership div img{
        width: 90px;
    }
    .company-logo{
        width: 80%;
        text-align: center;
        margin-left: 25px;
    }
    .signup h3{
        font-size: 18px;
        color: #5e5a5a;
    }
    .signup p{
        font-size: 13px;
        color: #353333;
    }
    .media a i{
        font-size: 16px;
    }
    .media a{
        margin: 6px;
    }
    .menubar{
        right: -20px;
        width: 200px;
        height: 100vh;
    }
    .menubar li{
        display: block;
        margin-top: 15px;
    }
    .menubar li a:hover{
        color: red;
    }
    .menubar li a:hover::after{
        width: 0%;
    }
    .services-hover{
        grid-template-columns: repeat(3,minmax(90px,1fr));
        grid-template-rows: repeat(4,minmax(90px,1fr));
        top: 0px;
        height: 500px;
        transform: translateX(-69%);
    }
    .services-hover div:last-child{
        grid-column: 1/3;
    }
    .services-hover div h4{
        font-size: 13px;
    }
    .services-hover div p{
        font-size: 11px;
    }
    .xyz{
        padding: 4px 0px;
        background: #006556;
        text-align: center;
    }
}